<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <title>Help</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    {{>headers}}                       <!-- Loading the headers partials page using hbs template engine -->
    {{>footer}}                        <!-- Loading footer component -->
</body>
</html>