<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
    <title>Help</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    {{>headers}}                       <!-- Loading the headers partials page using hbs template engine -->
    <h1>This is a Node.js Project, providing Weather Forecasting created to improve my Node.js Skills.</h1>
    <p>You can find the source code on Github : <a href="https://github.com/notsonoobie/weather-api" target="_blank" class="link">notsonoobie</a></p>
    <p>Thank You for showing your interest!</p>
    <a class="link" href="https://showcasingmyself.netlify.com" target="_blank">Know More</a>
    {{>footer}}                        <!-- Loading footer component -->
</body>
</html>