body{
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}
a,a:link,a:visited{
    text-decoration: none;
    outline: none;
    color: #999999;
    text-transform: uppercase;
}
ul > li{
    list-style: none;
    display: inline-block;
    margin-left: -2rem;
    margin-right: 2.5rem;
}
header h1{
    background-image: linear-gradient(to right, #30CFD0,#330867);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 1.7px;
}
footer{
    margin-top: auto;
    color: #A9A9A9;
}
#loc,#loc::after,#details,#details::after{
    color: grey;
}
#website,#website::after{
    background-image: linear-gradient(to right, #30CFD0,#330867);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
input{
    padding: 8px 5px;
    color: #999999;
    outline: none;
    text-transform: uppercase;
}
button{
    text-transform: uppercase;
    padding: 5px;
    color: #696969;
    outline: none;
}